body {
  background: linear-gradient(90deg, #3e53a4, #cf0989);
  width: 100%;
  height: 100%;
  min-height: 1200px; }

/*.navbar {
background-color:transparent;
border-radius:0px;
}*/
.navigation-scroll {
  background-color: #3e53a4;
  border-color: transparent; }
  .navigation-scroll.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
    -webkit-transition: -webkit-transform 1s,background .9s,color .9s,opacity 0 .9s; }
  .navigation-scroll.is-visible {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -webkit-transition: -webkit-transform .2s,background .2s,color .2s; }

.navbar-header {
  float: left; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #cf0990;
  overflow: auto;
  z-index: 99; }

.navbar-toggle {
  display: block;
  clear: none; }

#shipLabels img {
  height: 75px;
  width: 110px;
  margin: 15px; }

#shipLabelForm {
  padding-top: 15px;
  padding-right: 15px; }

#yourApps {
  margin: 0px; }

#popularTopic {
  border-left: 1px solid grey; }

#goToFullApp {
  padding-top: 15px; }

#insightsReport {
  padding-top: 15px; }

#menubtn {
  padding-top: 20px;
  border: 0px;
  background: transparent; }

.bar1 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.3s; }

.bar2 {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.3s; }

.bar3 {
  width: 25px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.3s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-8px, -7px); }

#login {
  margin-top: 10%;
  margin-left: 30%; }

#submitbtn {
  margin-top: 20px;
  margin-left: 18%;
  border-radius: 15px; }

ul.nav.navbar-nav li a {
  color: #fff;
  font-size: 20px; }

.spinner {
  width: 110px; }

.spinner input {
  text-align: right; }

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell; }

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0; }

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px; }

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px; }

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px; }

@media (max-width: 768px) {
  .inputbox {
    width: 100%;
    height: 50px; }

  #login {
    margin-left: 0%;
    padding: 10%; }

  #submitbtn {
    margin-top: 20px;
    margin-left: 40%; } }
@media (min-width: 768px) {
  .inputbox {
    width: 50%;
    height: 50px; } }
@media only screen and (max-width: 467px) {
  #previousProductMenu1 {
    margin-top: 10px;
    width: 159px; } }
@media only screen and (min-width: 992px) {
  #yourFinancialsBody {
    height: 360px; }

  #yourFinancialsBody div:nth-child(1) {
    padding-top: 55px; } }
@media only screen and (min-width: 1200px) {
  #yourFinancialsBody {
    height: 400px; } }

/*# sourceMappingURL=style.css.map */
