<div class="container">

	<div id="breadcrumb">
		<ul class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Your Account</a></li>
		</ul>
	</div><!-- breadcrumb -->

	<div id="yourApps" class="row">
		<section class="panel panel-default">
			<!-- <h1>Your Apps</h1> -->
			<header class="panel-heading">
				<h3 class="text-primary panel-title">Your Apps</h3>
			</header>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6">
						<h3>SendPro <sup>TM</sup></h3>
					</div>
					<div class="col-xs-6">
						<a href="http://shipping-qa.horizon.pitneycloud.com/api/v1/trackwidget/00ua55qi40jSPCuc10h7@pb/login"  id="goToFullApp" class="link pull-right public" data-element-hide="readOnlyView">
							Go to full app
							<span class="fa-stack">
								<i class="fa fa-circle-thin fa-stack-2x"></i>
								<i class="fa fa-chevron-right fa-stack-1x" aria-hidden="true"></i>
							</span>
						</a>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="rightMargin col-sm-7 col-xs-12">
						<p>Enrol to print USPS shipping labels and save:</p>
						<div id="shipLabels">
							<a href=""><img src="images/fedex.jpg" class="img-thumbnail" alt="FedEx"></a>
							<a href=""><img src="images/ups.jpg" class="img-thumbnail" alt="UPS"></a>
							<a href=""><img src="images/usps.jpg" class="img-thumbnail" alt="USPS"></a>
						</div>
					</div>
					<div class="col-sm-5 col-xs-12">
						<p>Track Shipments</p>
						<div  class="input-group" id="shipLabelForm">
							<div class="input-group-btn dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									{{selectedShipLabel}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li ng-repeat="a in shipmentLabelList"><a ng-click="dropboxitemselected(a)">{{a}}</a></li>
								</ul>
							</div>
							<input type="text" class="form-control" name="x" placeholder="Tracking Number">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button">Track</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div><!-- yourApps -->

	<div id="" class="row">
		<div id="yourFinancials" class="col-md-6 col-xs-12">
			<section class="panel panel-default">
				<header class="panel-heading">
					<h3 class="text-primary panel-title">Your Financials</h3>
				</header>
				<div class="panel-body">
					<!-- Header -->
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#"><p  class="">Purchase Power</p></a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-8">
							<a href="#"><p class="">View Activity and Account Balances</p></a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#"><p  class="">Prepaid Accounts:</p></a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-8">
							<a href="#"><p class="">2 Accounts</p></a>
						</div>
					</div>
					<hr style="margin-top:0px;">
					<!-- Body -->
					<div id="yourFinancialsBody">
						<div>
							<div>
								<a href="#">
									<h4>Total Postage Management
										<span class="fa-stack">
											<i class="fa fa-circle-thin fa-stack-2x"></i>
											<i class="fa fa-chevron-right fa-stack-1x" aria-hidden="true"></i>
										</span></h4>
									</a>
								</div>
								<div>
									<a href="#">
										<h4 class="text-justify">Purchase Power Rewards
											<span class="fa-stack">
												<i class="fa fa-circle-thin fa-stack-2x"></i>
												<i class="fa fa-chevron-right fa-stack-1x" aria-hidden="true"></i>
											</span></h4>
										</a>
									</div>
								</div>
							</div>
							<!-- Footer -->
							<hr>
							<div class="row">
								<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0">
									<h5 class=" text-warning text-center"><b>Your payment of $382.50 has been received.</b></h5>
								</div>
								<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0">
									<button type="button" class=" text-warning btn btn-primary">View & Pay Bills</button>
								</div>
							</div>
						</div><!-- panel-body -->
					</section>
				</div><!-- yourFinancials -->

				<!-- Previously Ordered Products -->
				<div id="previousProducts" class="col-md-6 col-xs-12">
					<section class="panel panel-default">
						<header class="panel-heading">
							<h3 class="text-primary panel-title">Previously Ordered Products</h3>
						</header>
						<div class="panel-body">
							<!-- Header list box -->
							<div class="row">
								<div class="col-xs-4 col-xs-offset-0 col-sm-4 col-sm-offset-2">
									<h4>Order Number</h4>
								</div>
								<div class="col-xs-4 ">
									<div class="dropdown" >
										<button class="btn btn-default dropdown-toggle" type="button" id="previousProductMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											{{selectedPreviousProduct}}
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="previousProductMenu1" id="previousProductDiv">
											<li ng-repeat="a in previousProductList"><a ng-click="previousProductSelected(a)">{{a}}</a></li>
										</ul>
									</div>
								</div>
							</div>

							<!-- Body -->
							<hr>
							<div class="row">
								<div class="col-xs-6 col-xs-offset-3">
									<a href="#"><img src="images/1704563.jpg" class="img-responsive" alt="Product"></a>
									<!-- <a href="#"><img src="public/Images/1704563.jpg" class="img-responsive" alt="Product" style="height:150px; margin-left:50px;"></a> -->
									<br>
									<p class="text-center">Item: 787-1</p>
									<h5 class="text-center">Red Ink Cartridge Production for Connect @ Series</h5>
									<p class="text-center">$289.99</p>

									<!-- <div class="row" id="previousProductShopBtn"> -->
									<div class="row" >
										<div class="col-xs-9 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-7 col-md-offset-3 col-lg-7 col-lg-offset-0 ">
											<div class="input-group spinner">
												<input type="text" class="form-control" value="1">
												<div class="input-group-btn-vertical">
													<button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
													<button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
												</div>
											</div>
										</div>
										<div id="addToCart" class="col-xs-9 col-xs-offset-3 col-sm-6 col-sm-offset-0 col-md-7 col-md-offset-4 col-lg-5 col-lg-offset-0">
											<a href="#" class="">Add to Cart</a>
										</div>
									</div>
								</div>
							</div>


							<!-- Footer -->
							<hr>
							<div class="row">
								<div class="col-xs-8 col-xs-offset-3 col-sm-9 col-sm-offset-0 col-md-8 col-md-offset-0" style="padding-top:5px">
									<a href="#" style="border-right:1px solid #eee; padding-right:10px;margin-right:10px;">View Order History</a>
									<!-- </div> -->
									<!-- <div class="col-xs-4"> -->
									<a href="#">Shop Ink & Supplies</a>
								</div>
								<div class="col-xs-12 visible-xs clearfix"></div>
								<div class="col-xs-12 visible-xs clearfix"></div>
								<div class="col-xs-12 visible-xs clearfix"></div>

								<div class="col-xs-8 col-xs-offset-4 col-sm-3 col-sm-offset-0 col-md-4 col-md-offset-0">
									<button type="button" class="btn btn-primary">Add All to Cart</button>
								</div>
							</div>

						</div>
					</section>
				</div><!-- previousProducts -->
			</div><!--row-->


			<div id="yourAnalytics">
				<section class="panel panel-default">
					<header class="panel-heading">
						<h3 class="text-primary panel-title">Your Analytics and Insights Report</h3>
					</header>
					<div class="panel-body">
						<div class="row">
							<div class="rightMargin col-md-7 col-xs-12">
								<h3>Mailing and Shipping Postage Spent | Monthly</h3>
								<p>Switch View (Business Partner Number/ Location): <a href="#">121 BARNARD ST<span class="caret"></span></a></p>
								<div id="analyticsChart"></div>
							</div>
							<div id="insightsReport" class=" col-md-5 col-xs-12">
								<h4>What could you do to achieve better savings?</h4>
								<ol>
									<li>
										To help you increase open rates, envelope messages enable you to customize messages on every envelope, click here for more information, or access via Your Account page.
										Learn <a href="#">More</a>
									</li>
									<li>
										If you use First Class Mail then you may qualify for additional postage savings of up to 33% with Pitney Bowes Presort Services.
										Learn <a href="#">More</a>
									</li>
								</ol>
								<button type="button" class="btn btn-primary">View All Articles</button>
							</div>
						</div>
					</div>
				</section>
			</div><!--yourAnalytics  -->

			<div id="supportArticles">
				<section class="panel panel-default">
					<header class="panel-heading">
						<h3 class="text-primary panel-title">Support Articles</h3>
					</header>
					<div class=" row panel-body">
						<div class="rightMargin col-sm-7 col-xs-12">
							<h3>Search for a Topic</h3>
							<div  class="input-group" id="supportForm">
								<input type="text" class="form-control" name="x" placeholder="Enter keywords to find help topics">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button">Search</button>
								</span>
							</div>
							<br>
							<a href="#">Create a case</a>
						</div>
						<div id="popularTopic" class="col-sm-5 col-xs-12">
							<h3>Popular Topics</h3>
							<p><a href="">Updating Company Information</a></p>
							<p><a href="">Updating Your Credit Card</a></p>
							<p><a href="">Identifying your Pitney Bowes Account Number</a></p>
							<p><a href="">Pitneybowes.com Account FAQs</a></p>
							<button type="button" class="btn btn-primary">View All Articles</button>
						</div>
					</div>
				</section>
			</div><!-- supportArticles -->

		</div><!-- container -->
